table{ 
    width: 80%;
    background-color: #1D5288;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 200%;
    border-radius: 20px 0 20px 0px;
}

tr {
    width: 50%;
}

th {
    text-align: centre;
    background-color: #1D5288);
}

td {
    text-align: centre;
            
}

#date {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    //background-color: rgba(255, 2, 158, 0.466);
    text-align: centre;
}

table,
th,
td {}